<h1>Healthy Decadence</h1>

<% @recipe.each do |recipe| %>
	<div "recipe-box">
		<h2><%= recipe.tittle %></h2>
		<p><%= recipe.instructions %></p>
		<p class="author pull-right">- <%= recipe.author %></p>

	</div>
<% end %>
